.test {
  border: 1px solid red;
}
.test-1 {
  height: 200vh;
}

// variables
$primary-purple: #6734FE;

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
h2 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}
h3 {
  font-size: 23px;
  font-weight: 700;
  margin: 0;
}
h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
h5 {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
}

// buttons
.btn {
  font-size: calc(10px + 1.3vw);
  font-weight: bold;
  border-radius: 30px;
  padding: 5px 16px;

  &.btn-primary {
    background: $primary-purple;
    border: 5px solid $primary-purple;
  }

  &.btn-secondary {
    color: $primary-purple;
    background: none;
    border: 5px solid $primary-purple;
  }
  &.btn-third {
    color: white;
    background: none;
    border: 5px solid white;
  }
}

// cicles 
.circle {
  border-radius: 50%;
  position: absolute;
}

// navbar 
section.navigation {

  button#burger-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 30px;
    z-index: 2;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }

    &:focus-within {
      outline: black;
    }

    div.burger-line {
      position: relative;
      background: #545059;
      height: 4px;
      width: 35px;
      border-radius: 5px;

      &:nth-of-type(1) {
        top: -6px;
      }
      &:nth-of-type(3) {
        top: 6px;
      }

    }

    &[aria-expanded="true"] {
      div.burger-line {

        transition: top 0.4s ease-in, transform 0.5s ease 0.2s;

        &:nth-of-type(1) {
          transform: rotate(45deg);
          top: 4px;
        }
        &:nth-of-type(2) {
          visibility: hidden;
        }
        &:nth-of-type(3) {
          transform: rotate(-45deg);
          top: -3px;
        }
      }
    }
  }

  div.navigation-items-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding: 2.5rem;
    z-index: 1;
    background: white;
    opacity: 0;
    pointer-events: none;

    ul.nav-links {
      margin: 0;

      li {
        display: flex;
        align-items: center;
        padding: 1rem;
        list-style: none;
        font-size: 20px;
        font-weight: bold;
        z-index: 1;

        
        a {
          color: black;

          &::after {
            content: '';
            display: block;
            position: relative;
            top: 3px;
            height: 3px;
            z-index: 0;
          }

          &:hover {
            text-decoration: none;

            &::after {
              top: -18px;
              transform: scaleY(9);
              transition: 0.2s ease;
              z-index: -1;
            }
          }

        }
        &:nth-of-type(1) a::after {
          background: #F943E7;
        }
        &:nth-of-type(2) a::after {
          background: $primary-purple;
        }
        &:nth-of-type(3) a::after {
          background: #FFDE33;
        }
        &:nth-of-type(4) a::after {
          background: #1CF5C7;
        }
      }
    }
    ul.socials {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 0;
      padding-top: 1rem;

      li {
        list-style: none;
        padding: 1rem;
      }
    }

    &.expanded {
      opacity: 1;
      pointer-events: all;
    }
  }
}

// landing section 
section.landing {
  position: static;
  display: flex;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;

  .landing-container {
    position: relative;

    h2.tagline {
      font-size: calc(10px + 1.9vw);
      font-weight: normal;
    }

    .yellow-circle {
      left: -69px;
      top: -126px;
      width: calc(120px + 11vw);
      height: calc(120px + 11vw);
      max-width: 280px;
      max-height: 280px;
      background: #FFDE33;
      background: radial-gradient(circle, #Fafafa 0%, #Fafafa 25%, #FFEB97 25%, #FFEB97 48%, #FFDE33 48%, #FFDE33 100% );
      box-shadow: 0px 96px 96px rgba(7, 48, 163, 0.16);
    }
    .cyan-circle {
      right: -69px;
      top: 0px;
      width: calc(80px + 9vw);
      height: calc(80px + 9vw);
      max-width: 162px;
      max-height: 162px;
      background: #1CF5C7;
      background: radial-gradient(circle, #Fafafa 0%, #Fafafa 25%, #CCEEEE 25%, #CCEEEE 48%, #1CF5C7 48%, #1CF5C7 100% );
      box-shadow: 0px 96px 96px rgba(7, 48, 163, 0.16);
    }
    .blue-circle {
      display: none;
      background: #8359FE;
      background: radial-gradient(circle, #Fafafa 0%, #Fafafa 25%, #C1ACFF 25%, #C1ACFF 48%, #8359FE 48%, #8359FE 100% );
      box-shadow: 0px 96px 96px rgba(7, 48, 163, 0.16);
    }
    .pink-circle {
      left: 0px;
      bottom: 0px;
      width: calc(133px + 11vw);
      height: calc(133px + 11vw);
      max-width: 340px;
      max-height: 340px;
      background: #F943E7;
      background: radial-gradient(circle, #Fafafa 0%, #Fafafa 25%, #FBD0FF 25%, #FBD0FF 48%, #F943E7 48%, #F943E7 100% );
      box-shadow: 0px 96px 96px rgba(7, 48, 163, 0.16);
    }
  }
  


}

// koodi overview 
section.koodi-overview {
  width: 100%;
  background:  rgba(131, 89, 254, 0.8);
  background-image: linear-gradient(rgba(131, 89, 254, 0.8), rgba(131, 89, 254, 0.8)), url(/img/background-texture.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

// included in websites 
section.included {
  width: 100%;
  background: $primary-purple;
  color: white;
}

// our work 
section.our-work {
  position: relative;
  overflow: hidden
  ;

  // cicles 
  .circle {
    border-radius: 50%;
    position: absolute;

    &.yellow-circle {
      right: 13px;
      top: 0px;
      width: calc(60px + 11vw);
      height: calc(60px + 11vw);
      max-width: 280px;
      max-height: 280px;
      background: #FFDE33;
      background: radial-gradient(circle, #Fafafa 0%, #Fafafa 25%, #FFEB97 25%, #FFEB97 48%, #FFDE33 48%, #FFDE33 100% );
      box-shadow: 0px 96px 96px rgba(7, 48, 163, 0.16);
    }
    &.cyan-circle {
      right: 90px;
      top: 116px;
      width: calc(18px + 11vw);
      height: calc(18px + 11vw);
      background: #1CF5C7;
      background: radial-gradient(circle, #Fafafa 0%, #Fafafa 25%, #CCEEEE 25%, #CCEEEE 48%, #1CF5C7 48%, #1CF5C7 100% );
      box-shadow: 0px 96px 96px rgba(7, 48, 163, 0.16);
    }
    &.blue-circle {
      right: -10px;
      top: 173px;
      width: calc(16px + 11vw);
      height: calc(16px + 11vw);
      background: #8359FE;
      background: radial-gradient(circle, #Fafafa 0%, #Fafafa 25%, #C1ACFF 25%, #C1ACFF 48%, #8359FE 48%, #8359FE 100% );
      box-shadow: 0px 96px 96px rgba(7, 48, 163, 0.16);
    }

  }

  h1{
    display: inline-block;

    &::after {
      content: '';
      display: block;
      position: relative;
      background: #F943E7;
      top: 5px;
      // width: 100%;
      height: 5px;
    }
  }

  .angry-grid {
    display: grid; 
    gap: 5px;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    .grid-outer {
      position: relative;
      padding-bottom: 48%;

      .grid-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .grid-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .grid-video {
          width: 100%;
          height: 100%;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: #6734fe80;
          opacity: 0;
          
          a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }
 
    #item-0 {
    
       background-color: #555969; 
       grid-row-start: 1;
       grid-column-start: 1;
    
       grid-row-end: 3;
       grid-column-end: 3;
    
    }
    #item-1 {
    
       background-color: #BBE59E; 
       grid-row-start: 3;
       grid-column-start: 1;
    
       grid-row-end: 4;
       grid-column-end: 2;
    
    }
    #item-2 {
    
       background-color: #979DD6; 
       grid-row-start: 4;
       grid-column-start: 1;
    
       grid-row-end: 6;
       grid-column-end: 3;
    
    }
    #item-3 {
    
       background-color: #599CD9; 
       grid-row-start: 3;
       grid-column-start: 2;
    
       grid-row-end: 4;
       grid-column-end: 3;
    
    }
    #item-4 {
    
       background-color: #98FDAA; 
       grid-row-start: 6;
       grid-column-start: 1;
    
       grid-row-end: 7;
       grid-column-end: 3;
    
    }
    #item-5 {
    
       background-color: #EAEBD8; 
       grid-row-start: 7;
       grid-column-start: 1;
    
       grid-row-end: 9;
       grid-column-end: 3;
    
    }
 }
   
}

// testimonials 
section.testimonials {
  position: relative;
  overflow: hidden;
  background: #C1ACFF;

  .testimonial-logo-container {
    position: relative;
    width: 100%;
    // height: 100%;
    top: 0;
    left: 0;
    background: white;
    border: 2px solid black;
    overflow: hidden;

    img.testimonial-logo {
      position: relative;
      top: 13px;
      left: -5px;
      width: 69%;
      height: auto;
      object-fit: cover;
    }
  }

  .testimonial-container {
    overflow: hidden;
    
    .pink-circle {
      right: -94px;
      top: 0px;
      width: 56vw;
      height: 56vw;
      background: #F943E7;
      background: radial-gradient(circle, #Fafafa 0%, #Fafafa 25%, #FBD0FF 25%, #FBD0FF 48%, #F943E7 48%, #F943E7 100% );
      box-shadow: 0px 96px 96px rgba(7, 48, 163, 0.16);
    }
  
    h1{
      display: inline-block;
  
      &::after {
        content: '';
        display: block;
        position: relative;
        background: #8359FE;
        top: 5px;
        // width: 100%;
        height: 5px;
      }
    }
  }

}

// contact button 
section.contact-button {
  background: #FFDE33;
  color: #8359FE;
}

// about us 
section.about-us {

  h1{
    display: inline-block;

    &::after {
      content: '';
      display: block;
      position: relative;
      background: #FFDE33;
      top: 5px;
      // width: 100%;
      height: 5px;
    }
  }
}


// footer 
footer.footer {

  .footer-border {
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, $primary-purple 0%, $primary-purple 20%, #F943E7 21%, #F943E7 40%, #ffde33 41%, #ffde33 60%, #1cf5c7 61%, #1cf5c7 100%);
  }

  #koodi-logo-footer {
    width: 250px;
    height: auto;
  }
  ul.footer-nav-links,
  ul.footer-contact-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  // buttons
  .btn {
    font-size: 20px;
}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  // landing section 
  section.landing {
    position: relative;
    .landing-container {

      h2.tagline {
        font-size: 32px;
      }

      .pink-circle {
        left: -42px;
        bottom: -44px;
      }
    }
  }



}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  
  p {
    font-size: 16px;
  }
  
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  
  .nav-land-wrap {
    overflow: hidden;
  }

  // navbar 
  section.navigation {
    
    button#burger-btn {
      display: none;
    }
    
    div.navigation-items-container {
      position: static;
      width: auto;
      height: auto;
      display: flex;
      justify-content: flex-end;
      padding: 1rem;
      opacity: 1;
      pointer-events: all;
      
      ul.nav-links {
        list-style: none;
        display: flex;
      }
      
      ul.socials {
        list-style: none;
        display: flex;

        li {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
  
  // landing section 
  section.landing {
    min-height: auto;
    overflow: visible;
    
    .landing-container {
      
      h2.tagline {
        font-size: 38px;
      }

      .yellow-circle {
        left: -120px;
        top: -215px;
      }
  
      .cyan-circle {
        
      }

      .pink-circle {
        left: auto;
        right: -100px;
        bottom: 12px;
      }

      .blue-circle {
        display: block;
        bottom: 0;
        left: -150px;
        height: 270px;
        width: 270px;
      }
    }

  }

  // our work 
  section.our-work {

    .angry-grid {
      display: grid; 
      gap: 10px;
      height: 100%;   
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;

      .grid-outer {
        position: relative;
        padding-bottom: 49%;

        .grid-inner {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
   
      #item-0 {
         background-color: #555969; 
         grid-row-start: 1;
         grid-column-start: 1;
      
         grid-row-end: 3;
         grid-column-end: 3;
      }
      #item-1 {
      
         background-color: #7B7BBE; 
         grid-row-start: 1;
         grid-column-start: 3;
      
         grid-row-end: 2;
         grid-column-end: 4;
      
      }
      #item-2 {
      
         background-color: #DE79DD; 
         grid-row-start: 2;
         grid-column-start: 3;
      
         grid-row-end: 4;
         grid-column-end: 4;
      
      }
      #item-3 {
      
         background-color: #F6C57D; 
         grid-row-start: 3;
         grid-column-start: 1;
      
         grid-row-end: 4;
         grid-column-end: 3;
      
      }
      #item-4 {
      
         background-color: #AD66D7; 
         grid-row-start: 4;
         grid-column-start: 2;
      
         grid-row-end: 6;
         grid-column-end: 4;
      
      }
      #item-5 {
      
         background-color: #7BF78C; 
         grid-row-start: 4;
         grid-column-start: 1;
      
         grid-row-end: 6;
         grid-column-end: 2;
      
      }
   }
     

  }

  // testimonials 
  section.testimonials {
    position: relative;
    background: #C1ACFF;

    .testimonial-logo-container {
      position: absolute;
      height: 100%;
      width: 20%;
      top: 0;
      left: 0;
      border: 2px solid black;
      overflow: hidden;

      img.testimonial-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(90deg);
        width: auto;
        height: 46%;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}